.topBox
{

    position: fixed;
    top: 8.5%;
    left: 50%;
    width: 85%;
    height: 9%;
    transform: translate(-50%, -50%);
    alignment-baseline: central;
    background-color: transparent;
    float: top;

}

.centerBox
{
    position: fixed;
    top: 63.4%;
    left: 50%;
    width: 85%;
    height: 100%;
    transform: translate(-50%, -50%);
/*    opacity: 0.85;
    background-color: white;*/
    background-repeat: repeat;
    alignment-baseline: central;
    overflow: auto;
    float: top
}

p
{
    
    color: black;
}


.menuButtons
{    
    text-align: center;
    float: left;    
    width: 19.5%;
    border-right-width: 2px;
    border-right-color: black;
    border-right-style: solid;   
    border-left-width: 2px;
    border-left-color: black;
    border-left-style: solid;    
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;   
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;   
  
}
body
{
    background-image: url(../resources/delllogogennemsigtig.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    

}



#overskrift 
{
    border:5px solid #3287c1;
    border-radius: 10px;
    font-family:Verdana;
    font-size:x-large;
    color: black;
}

#kasse
{
    border-right-width: 2px;
    border-right-color: black;
    border-right-style: solid;   
    border-left-width: 2px;
    border-left-color: black;
    border-left-style: solid;    
    border-top-width: 2px;
    border-top-color: black;
    border-top-style: solid;  
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
}
